<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hope.smarteditor.document.mapper.DocumentOperationMapper">

    <resultMap id="BaseResultMap" type="hope.smarteditor.common.model.entity.DocumentOperation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="documentId" column="document_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="operation" column="operation" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="operationTime" column="operation_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,document_id,user_id,
        operation,description,operation_time
    </sql>
</mapper>
