<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hope.smarteditor.document.mapper.DocumentpermissionsMapper">

    <resultMap id="BaseResultMap" type="hope.smarteditor.common.model.entity.Documentpermissions">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="documentId" column="document_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="permissionId" column="permission_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,document_id,user_id,
        permission_id
    </sql>
</mapper>
