<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hope.smarteditor.document.mapper.FolderOperationLogMapper">

    <resultMap id="BaseResultMap" type="hope.smarteditor.common.model.entity.FolderOperationLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="folderId" column="folder_id" jdbcType="BIGINT"/>
            <result property="documentId" column="document_id" jdbcType="BIGINT"/>
            <result property="documentName" column="document_name" jdbcType="VARCHAR"/>
            <result property="operation" column="operation" jdbcType="VARCHAR"/>
            <result property="operationTime" column="operation_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,folder_id,
        document_id,document_name,operation,
        operation_time
    </sql>
</mapper>
