<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hope.smarteditor.document.mapper.StyleElementsMapper">

    <resultMap id="BaseResultMap" type="hope.smarteditor.common.model.entity.StyleElements">
            <id property="elementId" column="element_id" jdbcType="INTEGER"/>
            <result property="styleId" column="style_id" jdbcType="INTEGER"/>
                <result property="elementType" column="element_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        element_id,style_id,element_type
    </sql>
</mapper>
